body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* page-header */

.main-header {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .logo-studio {
  color: #000000;
  margin-left: -6px;
  margin-right: 93px;
}

.logo .logo-web {
  color: #2196f3;
}

.logo-footer .logo-web {
  color: #2196f3;
}

.logo-footer .logo-studio-fotter {
  margin-left: -6px;
  color: #ffffff;
}

.logo-footer {
  display: inline-block;
  margin-top: 60px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Navigation */
.nav-box {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* Contacts Header */
.contacts {
  display: flex;
}

.contacts .item {
  margin-right: 50px;
}

.contacts .contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

/* Hero */
.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero .hero-title {
  margin: 0px;
  padding-top: 200px;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero .hero-btn {
  padding: 10px 32px;
  width: 200px;

  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.btn-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
}

/* Edge Преимущества */
.edge-list {
  display: flex;
  justify-content: space-between;
  padding: 94px 0px;
}

.edge .edge-title {
  margin: 0px;
  margin-bottom: 10px;

  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.edge-item {
  width: 270px;
}

.edge-hidden {
  display: none;
}

.edge-text {
  margin: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Works */

.work .work-title {
  margin: 0px;
  margin-bottom: 50px;

  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.work-list {
  display: flex;

  margin: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 94px;
}

/* Stuff */
.staff {
  background-color: #f5f4fa;
}
.staff .staff-title {
  margin: 0px;
  margin-bottom: 50px;
  padding-top: 94px;

  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.staff ul {
  padding-left: 0px;
}

.staff-list .name {
  margin-bottom: 10px;
  margin-top: 30px;

  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.image {
  margin-left: 0px;
  margin-right: 0px;
}

.staff-list .descript {
  margin: 0px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .adress {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list {
  padding: 0px;
}

.footer-list:last-child {
  padding-bottom: 30px;
}

.footer .adress_link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .adress_link:focus,
.footer .adress_link:hover {
  color: #2196f3;
}
